# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Generated binary
/sweetd

# Generated releases
/sweetd-*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# GoLand
.idea

# packr2
*-packr.go

# Tor data directory
tor

# Data folder
data/
